main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}

:root {
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  background-color: #3a5fbd;
}

li {
  list-style: none;
}

nav li {
  cursor: pointer;
}

header {
  background-color: #182852;
}

header h2 {
  color: white;
}

header a {
  color: white;
}

footer {
  display: flex;
  justify-content: space-evenly;
}

footer i a {
  width: auto;
  height: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 18rem;
  border-style: solid;
  border-radius: 10px;
  padding: 3px;
  margin: 1px;
}

.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.about-me {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#profile-pic {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.portfolio {
  text-align: center;
}

.contact-me {
  display: flex;
  flex-direction: column;
}

.contact-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px 0 5px 0;
}

input {
  outline: none;
  padding: 5px;
  margin: 5px 0 5px 0;
  border-radius: 10px;
  border: 0;
}

textarea {
  outline: none;
  padding: 5px;
  margin: 5px 0 5px 0;
  border-radius: 10px;
  border: 0;
}

button {
  appearance: none;
  padding:10px;
  border:1px solid black;
  color:black;
  font-weight:600;
  border-radius:5px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: black;
  color: white;
  border:1px solid #3F51B5;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  background-color:black;
  color:white;
}

.mx-2 a {
  text-decoration: none;
  padding: 5px;
}

.mx-2 a:hover {
  border: 1px solid white;
  border-radius: 5px;
}

.mx-2 a:active {
  border: 1px solid black;
  border-radius: 5px;
  color: black;
}

a {
  text-decoration: none;
}

.email {
  text-align: center;
  margin-top: 25px;
}

.card-title {
  font-weight: bold;
}